
div.search {
	margin: 10%;
}
div.search input[type=text] {
	width: 45%;
}

div.search input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}


div.searchType {
	background:#cfc;
	border-style:inset;
	border-radius: 2px;
	text-align:center;
}

div.searchType.title{
	font-weight: bold;
	font-size:200%;
}