body {
	font-size:18px;
	font-family: "Arial", Georgia, Serif;
	background-color:#00FFFF;
	float: center;
}

header {
    height: 90px;
	text-align: center;
	background-color: #003399;
	color: white; 
}

div.nav {
	text-align: center;
	margin: 0px;
	padding: 10px;
	border:1px solid black;
	background-color: #CCCCFF;
	width: 180px;
	right: 50%;
	
} 

div.nav a {
	height: 40px;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	font-size:12pt;
	font-weight: bold;
	background-color: #003399;
	color: white;
	border-style: outset;
	border-width: 4px;
	text-decoration: none;
} 

div.nav  a:hover {
	background-color: blue;
	text-decoration: underline;
} 

div.search {
	padding-top: 5px;
	float: center;	
}

.form {
	font-weight: bold;
}
.forminfo{
	font-weight: normal;
	font-variant: small-caps;
}
