body {
	font-size:18px;
	font-family: "Arial", Georgia, Serif;
	background-color:#DDDDFD;
}

.form {
	font-weight: bold;
}
.forminfo{
	font-weight: normal;
	font-style: italic;
	font-size:16px;
}
.Title{
	font-variant: small-caps;
	font-size:32px;
	font-weight:bold;
}