@import url(http://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400);
body {
	min-width: 1024px;
	font-size:16px;
	font-family: "Arial", Georgia, Serif;
	background-color:#DDD;
	float: center;
	width:100%;
}
div.content{
	margin-left:5%;
	margin-right:5%;
}
header {
    height: 90px;
    line-height:90px;
	text-align: center;
	background-color: #093;
	color: white; 
}
div.footer{
	line-height:150%;
	position: fixed;
	width:100%;
	left:0;
	right:0;
	bottom:0;
	clear:both;
	font-size:80%;
	background-color:#C6C6C6;
	text-align:center;
}
div.nav {
	text-align: center;
	margin: 0px;
	padding: 10px;
	border:1px solid black;
	background-color: #CFC;
	width: auto;
	right: 50%;
	
} 

div.nav a {
	height: 40px;
	padding-top: 6px;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom:6px;
	text-align: center;
	font-size:12pt;
	font-weight: bold;
	background-color: #093;
	color: white;
	border-style: outset;
	border-width: 4px;
	text-decoration: none;
} 
div.nav  a:hover {
	background-color: #ABA;
	text-decoration: underline;
} 

div.search {
	min-width: 1180px;
	height: 10em;
    position: relative;
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

div.search input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

div.parkName{
	font-weight: bold;
	line-height:30px;
	padding-top: 50px;
	font-size: 50px;
	text-align: center;
}

div.parkStuff nav{
	float: left;
    max-width: 160px;
    margin: 0;
	padding-top: 50px;
    padding-left: 40%;
	transform: translate(-50%, 0);
}

div.parkStuff article{
	transform: translate(-17%, 0);
    padding-top: 80px;
    overflow: hidden;
	text-align: center;
	font-size: 20px;
}

div.reviews {
	padding-top: 150px;
	text-align: center;
}

div.rev1 {
	padding: -2em;
	border: 1px solid black;
}

div.rev2 {
	padding: -2em;
	border: 1px solid black;
}

div.rev3 {
	padding: -2em;
	border: 1px solid black;
}

div.stars {
  width: 270px;
  display: inline-block;
}
 
input.star { display: none; }
 
label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}
 
input.star:checked ~ label.star:before {
  content: url(/proj230/Images/goldstar2.png);
  color: #EE6;
  transition: all .25s;
  	display: inline-block;
	width:32px;
	height:32px;
}

label.star:hover { transform: rotate(-120deg) scale(1.2); }
 
label.star:before {
	display: inline-block;
	width:32px;
	height:32px;
  content: url(/proj230/Images/star.png);
}


.errmsg{
	color: #E66;
	font-size:90%;
}

.form {
	font-weight: bold;
	line-height:30px;
	margin-left:1.2%;
}
.forminfo{
	font-weight: normal;
	font-style:italic;
	font-size:90%;
}
.field input{
	float:right;
	margin-right:10%;
	width:40%;
}
.rightcontent input{
	width: 100%;
}
.Title{
	font-size:160%;
	text-align:center;
}
.Title .Subtitle{
	font-size:80%;
}

table.results-table{
	border-collapse: collapse;
	border-spacing: 0px;
	border-style:solid;
	border-width:1px;
	background-color:white;
}
table.results-table td{
	border-style:solid;
	border-width:1px;
	text-transform:lowercase;
	text-transform:capitalize;
}
table.results-table tr.head{
	border-width:2px;
	font-size:120%;
	font-weight:bold;
}